@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

/* ===== RESET ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Press Start 2P", sans-serif;
}

/* ===== CENTER APP ===== */
html,
body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #050000;
}

/* ===== RESPONSIVE POKEDEX ===== */
.app {
  position: relative;
  width: min(150vw, 1200px);
  aspect-ratio: 3 / 2; /* matches 1200x800 */
  background: url("imgs/background2.png") no-repeat center / contain;
}

/* ===== MAIN SCREEN IMAGE ===== */
.image {
  position: absolute;
  top: 39.5%;
  left: 31.7%;
  width: 16.1%;
  height: 15.6%;
  image-rendering: pixelated;
  background-color: #05000000;
}

/* ===== SEARCH INPUT ===== */
input {
  position: absolute;
  top: 84.8%;
  left: 25.7%;
  width: 50.7%;
  height: 9.9%;
  font-size: clamp(15px, 1vw, 15px);
  border-radius: 5px;
  border: none;
  text-align: center;
  background-color: rgb(213, 225, 164);
  color: rgb(10, 10, 10);

}

input:focus {
  outline: none;
}

/* ===== OUTPUT / ERROR DISPLAY ===== */
.output {
  position: absolute;
  top: 15.1%;
  left: 35.3%;
  width: 29%;
  height: 7.2%;
  font-size: clamp(25px, 2vw, 30px);
  text-align: center;
  color: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0);
  pointer-events: none;
    text-shadow:
    -1px -1px 0 rgb(255, 255, 255), /* Top-left shadow */
     1px -1px 0 rgb(255, 255, 255), /* Top-right shadow */
    -1px  1px 0 rgb(255, 255, 255), /* Bottom-left shadow */
     1px  1px 0 rgb(255, 255, 255); /* Bottom-right shadow */
}

.pokeNumber {
  position: absolute;
  top: 35.1%;
  left: 55.1%;
  width: 16.1%;
  height: 6.4%;
  font-size: clamp(20px, 2vw, 25px);
  text-align: center;
  border: 2px solid black;
  border-radius: 4px;
  color: rgb(174, 215, 86);
  background: rgb(43, 58, 82);
  pointer-events: none;
  line-height: 150%;
}

.type {
  position: absolute;
  top: 42%;
  left: 55%;
  width: 16.2%;
  height: 5.5%;
  font-size: clamp(10px, 2vw, 13px);
  text-align: center;
  color: rgb(174, 215, 86);
  background: rgb(43, 58, 82);
  pointer-events: none;
  line-height: 150%;
  border-radius:4px;
  word-break: break-all;
  pointer-events: none;
  line-height: 150%;
  border-radius:4px;
  border: 2px solid black;
  word-break: break-all;
}
